<!doctype html>
<html lang="en">
   <head>
       <meta charset="UTF-8" />
       <title>Functions</title>
   </head>
<body>
<h2>Go Progrraming</h2>

Without date formatting :{{.}}

with date formatting:{{fdateMDY .}}

</body>
</html>