<!DOTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Go</title>

</head>
<body>
<h1>This is Struct on Template</h1>
<ul>
    {{range .}}
    <li>{{.Name}} - {{.Motto}}</li>
    {{end}}
</ul>
</body>
</html>