<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello Go</title>
</head>
<body>
<h1>This is Map in Template</h1>
<ul>
    {{$x := .Name}}
    {{$y := .Motto}}
    <li>{{$x}} - {{$y}}</li>
</ul>


</body>
</html>