<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>predefined functions</title>

</head>
<body>
<ul>
    {{index .Word 0 }}
    {{index .Word 1 }}
    {{index .Word 2 }}
    {{.Lname}}
</ul>
</body>
</html>